Estadistica Bivariada con el objetivo de cunatificar la relación existente entre dos variables categóricas, establecer si existe independencia entre esta dos variables, la prueba Chi-cuadrado, nos ayudará a determinar estadisticamente si hay o no un grado de independencia entre dos variables categoricas.

In [7]:
import pandas as pd 
import os 
#libreria para el test chi cuadrado 
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [10]:
data = pd.read_csv('C:/Users/XMX5634/Documents/Introduccion Ciencia de Datos Aplicada/Estadistica Univariada/Ordenes.csv', sep = ';',
                encoding='latin-1')

In [11]:
#construir una tabla de contingencia. 
data.head(5)

,orden_id,order_item_id,producto_id,vendedor_id,fecha_envio_limite,precio,valor_flete,codigo_postal_vendedor,ciudad_vendedor,departamento_vendedor,nombre_categoria_producto,longitud_nombre_producto,longitud_descripcion_producto,cantidad_fotos_producto,peso_g_producto,longitud_cm_producto,altura_cm_producto,ancho_cm_producto
0,107500PO59A,A,PO59,VE5389,7/04/2018 18:12,271.86,30.72,52435,Mallama,Nariño,Productos ecoamigables,6.0,7.0,27.0,2486.0,17.0,11.0,14.0
1,37493PS22B,B,PS22,VE1558,20/10/2017 9:07,115.73,4.68,52203,Colon,Nariño,Carnicería,10.0,31.0,20.0,256.0,43.0,2.0,21.0
2,28050PK20B,B,PK20,VE9159,17/08/2017 8:15,432.99,82.70,66001,Pereira,Risaralda,Deportes,25.0,5.0,4.0,5270.0,9.0,27.0,29.0
3,52187PA10A,A,PA10,VE3159,23/09/2017 23:27,108.38,35.39,52435,Mallama,Nariño,Electrodomésticos,10.0,1.0,6.0,734.0,46.0,48.0,22.0
4,84639PR12A,A,PR12,VE5090,7/01/2018 11:50,51.50,11.10,73001,Ibague,Tolima,Frutas y verduras,23.0,16.0,35.0,884.0,45.0,26.0,18.0

In [13]:
# buscar los top 5 categorias de productos
categoria_top = data.groupby('nombre_categoria_producto').count().reset_index()[['nombre_categoria_producto', 'producto_id']]
categoria_top_lista = categoria_top.head()['nombre_categoria_producto']
categoria_top.head()

  nombre_categoria_producto  producto_id
0                    Bebés           475
1                Carnicería          523
2                 Celulares          488
3                  Deportes          537
4                Dormitorio          508

In [19]:
# encontrar los departamentos top 5
departamento_top = data.groupby('departamento_vendedor').count().reset_index()[['departamento_vendedor', 'producto_id']]
departamento_top_lista = departamento_top.head()['departamento_vendedor']
departamento_top.head()

  departamento_vendedor  producto_id
0              Amazonas          145
1             Antioquia          363
2                Arauca          131
3             Atlantico          225
4           Bogota d.c.          178

In [20]:
#filtrar por los departamentos top.
data_top = data[data['nombre_categoria_producto'].isin(categoria_top_lista) & data['departamento_vendedor'].isin(departamento_top_lista)]
data_top.head(5)

,orden_id,order_item_id,producto_id,vendedor_id,fecha_envio_limite,precio,valor_flete,codigo_postal_vendedor,ciudad_vendedor,departamento_vendedor,nombre_categoria_producto,longitud_nombre_producto,longitud_descripcion_producto,cantidad_fotos_producto,peso_g_producto,longitud_cm_producto,altura_cm_producto,ancho_cm_producto
19,45233PN94A,A,PN94,VE3607,4/05/2018 5:31,80.47,3.40,5002,Abejorral,Antioquia,Dormitorio,26.0,7.0,30.0,298.0,21.0,6.0,11.0
50,8102PD64A,A,PD64,VE6785,8/02/2018 0:16,122.91,24.53,8001,Barranquilla,Atlantico,Celulares,14.0,9.0,10.0,305.0,20.0,18.0,31.0
81,91107PN89D,D,PN89,VE6294,19/09/2017 4:26,265.07,8.50,11001,Bogota d.c.,Bogota d.c.,Dormitorio,26.0,3.0,1.0,1509.0,31.0,1.0,35.0
132,11303PD23A,A,PD23,VE3768,3/01/2018 7:56,144.76,4.78,5001,Medellin,Antioquia,Celulares,15.0,0.0,26.0,3258.0,35.0,31.0,36.0
142,23408PK13A,A,PK13,VE8568,31/10/2017 1:09,115.26,12.89,5001,Medellin,Antioquia,Deportes,5.0,10.0,7.0,550.0,66.0,7.0,37.0

In [30]:
# realizar la tabla de contingencia.
tabla_contingencia = pd.crosstab(data_top['nombre_categoria_producto'],data['departamento_vendedor'], margins = True)
tabla_contingencia

departamento_vendedor,Amazonas,Antioquia,Arauca,Atlantico,Bogota d.c.,All
nombre_categoria_producto,,,,,,
Bebés,8,20,3,13,7,51
Carnicería,6,19,10,12,7,54
Celulares,10,20,4,8,5,47
Deportes,5,20,5,12,10,52
Dormitorio,6,21,11,12,11,61
All,35,100,33,57,40,265

Podemos ver que el departamento Antioquia en efecto es el que mayormente genera ventas de las categorias top, ahora vamos a extender el analisis por filas y columnas para identificar diferentes tipos de hipotesis.

## Analisis Filas

 Hipotesis: es claro que la mayor cantidad de ventas se va a concentrar en Antioquia, por lo tanto la organización quiere analizar si la categorias Bebes, Carniceria y Celulares tienen alguna ciudad de preferencia de ventas

In [25]:
# realizar la tabla de contingencia.
tabla_contingencia = pd.crosstab(data_top['nombre_categoria_producto'],data['departamento_vendedor'], margins = True, normalize = 'index')
tabla_contingencia

departamento_vendedor,Amazonas,Antioquia,Arauca,Atlantico,Bogota d.c.
nombre_categoria_producto,,,,,
Bebés,0.156863,0.392157,0.058824,0.254902,0.137255
Carnicería,0.111111,0.351852,0.185185,0.222222,0.129630
Celulares,0.212766,0.425532,0.085106,0.170213,0.106383
Deportes,0.096154,0.384615,0.096154,0.230769,0.192308
Dormitorio,0.098361,0.344262,0.180328,0.196721,0.180328
All,0.132075,0.377358,0.124528,0.215094,0.150943

 Analisis: Para el caso de Bebes y Carniceria vemos que donde mas se vendio si fue un Antioquia.

## Analisis Columna

Hipotesis: Es necesario identificar en que departamento se tieien la mayor cantidad de ventas en las categoria de Carniceria.

In [27]:
pd.crosstab(data_top['nombre_categoria_producto'], data['departamento_vendedor'], margins = True, normalize = 'columns')

departamento_vendedor,Amazonas,Antioquia,Arauca,Atlantico,Bogota d.c.,All
nombre_categoria_producto,,,,,,
Bebés,0.228571,0.20,0.090909,0.228070,0.175,0.192453
Carnicería,0.171429,0.19,0.303030,0.210526,0.175,0.203774
Celulares,0.285714,0.20,0.121212,0.140351,0.125,0.177358
Deportes,0.142857,0.20,0.151515,0.210526,0.250,0.196226
Dormitorio,0.171429,0.21,0.333333,0.210526,0.275,0.230189

## Analisis de totales

tecnica estadistica para averiguar si las dos variables estan relacionadas y la manera de averiguarlos es mediante la distribución de porcentajes. Concretamente se analiza si la distribución de porcentajes de una variables se repiten por igual 
en las categorias de la otra variable.

In [28]:
pd.crosstab(data_top['nombre_categoria_producto'], data['departamento_vendedor'], margins = True, normalize = 'all')

departamento_vendedor,Amazonas,Antioquia,Arauca,Atlantico,Bogota d.c.,All
nombre_categoria_producto,,,,,,
Bebés,0.030189,0.075472,0.011321,0.049057,0.026415,0.192453
Carnicería,0.022642,0.071698,0.037736,0.045283,0.026415,0.203774
Celulares,0.037736,0.075472,0.015094,0.030189,0.018868,0.177358
Deportes,0.018868,0.075472,0.018868,0.045283,0.037736,0.196226
Dormitorio,0.022642,0.079245,0.041509,0.045283,0.041509,0.230189
All,0.132075,0.377358,0.124528,0.215094,0.150943,1.000000

In [31]:
tabla_contingencia

departamento_vendedor,Amazonas,Antioquia,Arauca,Atlantico,Bogota d.c.,All
nombre_categoria_producto,,,,,,
Bebés,8,20,3,13,7,51
Carnicería,6,19,10,12,7,54
Celulares,10,20,4,8,5,47
Deportes,5,20,5,12,10,52
Dormitorio,6,21,11,12,11,61
All,35,100,33,57,40,265

Analisis: con la tabla de contingencia podemos identificar, que el que menos se vende es el de Bebes, apenas con un 1% de las ventas totales

In [34]:
# Analisis por columnas
tabla_contingencia.min()

departamento_vendedor
Amazonas        5
Antioquia      19
Arauca          3
Atlantico       8
Bogota d.c.     5
All            47
dtype: int64

In [36]:
# Analisis por filas 
tabla_contingencia.transpose().min()

nombre_categoria_producto
Bebés          3
Carnicería     6
Celulares      4
Deportes       5
Dormitorio     6
All           33
dtype: int64

# Prueba Chi Cuadrada 
la prueba chi, es una prueba estadistica que asume que las frecuencias observadas para una variable categorica coinciden con las frecuencias esperadas para la otra variable categorica. existencia o no de independencia entre dos variables

Hipotesis: Las ventas de las categorias de productos no estan relacionadas con el departamento que se venda.

In [38]:
# Establecer los valores del test chi cuadrado
chi, pval, dof, exp = chi2_contingency(tabla_contingencia)

print('p-valor es: ', pval)

#establecer la significancia del test
significancia = 0.05
p = 1 - significancia
#establecer el valor critico 
valor_critico = chi2.ppf(p, dof)
print('chi=%.6f, valor critico=%.6f\n' % (chi, valor_critico))

# segun el valor critico se toma la desición de rechazar o no la hipotesis
if chi > valor_critico:
    print(''' A un %.2f de nivel de significancia, se rechaza la hipotesis nula y se acepta H1.
    no son independientes, por lo tanto no estan correlacionados''' %(significancia))
else:
        print(''' A un %.2f de nivel de significancia, no se rechaza la hipotesis nula y se acepta H1.
    son independientes, no tienen relación''' %(significancia))

p-valor es:  0.9772198423167109
chi=12.940697, valor critico=37.652484

 A un 0.05 de nivel de significancia, no se rechaza la hipotesis nula y se acepta H1.
    son independientes, no tienen relación

Podemos ver que no tienen algun tipo de relación las categorias y los sitios de venta.